-
  var bookInDetail = {
    name: 'Железный король',
    rating: '3.8',
    img: `${pathContentImg}iron-king-head.jpg`,
    author: 'Кагава Джули',
    description : 'Автор собрал в этой книге все свои знания, актуальные в современном мире',
    width: '485',
    heidth: '550',
    grade: '243',
    info: [
      {
        term: 'Код товара',
        def: '123187432'
      },
      {
        term: 'Издательство',
        def: 'Freedom'
      },
      {
        term: 'Серия',
        def: 'Железные фейри'
      },
      {
        term: 'Год издания',
        def: '2021'
      },
      {
        term: 'Переводчик',
        def: 'Руснак К.'
      },
      {
        term: 'Кол-во страниц',
        def: '416'
      },
      {
        term: 'Тип обложки',
        def: 'Твердая'
      },
      {
        term: 'Вес, г',
        def: '370'
      },
      {
        term: 'Возрастные ограничения',
        def: '16+'
      }
    ],
    annotation: 'Меня зовут МЕГАН ЧЕЙЗ. Менее чем через сутки мне исполнится шестнадцать. Прекрасный возраст! В нём есть нечто волшебное. О нём написано бесчисленное количество повестей, песен и стихов: девушка находит настоящую любовь, звезды освещают ей путь, а прекрасный принц увозит на край света. Но это не моя история. В жизни Меган всё идет не так с тех самых пор, как её отец пропал. Но после исчезновения младшего брата Меган узнает правду: она – дочь короля фейри и пешка в смертельной игре.'
  }

