-
  var bookInDetail = {
    name: 'Лисья нора',
    rating: '3.8',
    img: `${pathContentImg}iron-king-head.jpg`,
    author: 'Кагава Джули',
    description : 'Автор собрал в этой книге все свои знания, актуальные в современном мире',
    width: '485',
    heidth: '550',
    grade: '243',
    info: [
      {
        term: 'Код товара',
        def: '123156298'
      },
      {
        term: 'Издательство',
        def: 'Freedom'
      },
      {
        term: 'Серия',
        def: 'Оранжевый волк'
      },
      {
        term: 'Год издания',
        def: '2022'
      },
      {
        term: 'Переводчик',
        def: 'Руснак Я.'
      },
      {
        term: 'Кол-во страниц',
        def: '336'
      },
      {
        term: 'Тип обложки',
        def: 'Твердая'
      },
      {
        term: 'Вес, г',
        def: '350'
      },
      {
        term: 'Возрастные ограничения',
        def: '18+'
      }
    ],
    annotation: 'Команда Лисов—игроки экси, которые пытаются выиграть чемпионат мира'
  }

