-
  var books = [
    {
      name: 'Жизнь в удовольствие',
      rating: '3.5',
      img: `${pathContentImg}a-life-of-pleasure.jpg`,
      author: 'Палиенко А.',
      description : 'Автор собрал в этой книге все свои знания, актуальные в современном мире',
      pages: '208',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Королевство',
      rating: '4.8',
      img: `${pathContentImg}book-kingdoms.jpg`,
      author: 'Несбё Ю.',
      description : 'В норвежском городке, затерянном в горах, течет сонная, мирная жизнь',
      pages: '576',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Transhumanism inc.',
      rating: '3.9',
      img: `${pathContentImg}book-transhumanism.jpg`,
      author: 'Пелевин В.',
      description : 'В будущем богатые люди смогут отделить свой мозг от старящегося тела',
      pages: '608',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Чувство стыда',
      rating: '4.1',
      img: `${pathContentImg}book-feelings-of-shame.jpg`,
      author: 'Санд И.',
      description : 'Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими',
      pages: '170',
      width: '275',
      heidth: '320',
      link: '#'
    }
  ]
