-
  var books = [
    {
      name: 'Тревожные люди',
      rating: '5.0',
      img: `${pathContentImg}books-anxious-people.jpg`,
      author: 'Бакман Ф.',
      description : 'Целая галерея уязвимых персонажей, тонко подмеченная Бакманом человеческая природа',
      pages: '416',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Sapiens',
      rating: '4.9',
      img: `${pathContentImg}book-sapiens.jpg`,
      author: 'Харари Ю.',
      description : 'Краткая история человечества. Какое будущее нас ожидает? Кто наши предки?',
      pages: '520',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Институт',
      rating: '4.8',
      img: `${pathContentImg}book-institute.jpg`,
      author: 'Кинг С.',
      description : 'Бежать невозможно. Будущее предопределено. Загадочная Дальняя половина Института',
      pages: '608',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Нормальные люди',
      rating: '4.7',
      img: `${pathContentImg}book-normal-peoples.jpg`,
      author: 'Руни С.',
      description : 'О желании ощутить власть над другим человеком и одновременно всецело принадлежать ему',
      pages: '288',
      width: '275',
      heidth: '320',
      link: '#'
    }
  ];
