extends layout/layout

block variables
  - var title= "Просто маса"
  - let pageClass = "book-page"
  - let userLogin = true

block content
  main(class= pageClass)
    include modules/breadcrumbs
    include modules/books/book/just-masa
    include modules/reviews/critique
    include modules/recently-viewed/recently-viewed
