-
  var reviews = [
    {
      name: 'Кирилл Агапьев',
      count: '35',
      review: 'Огромный ассортимент разных книг, которых нет в магазинах нашего города. Цены зачастую гораздо ниже магазинских, так плюс к этому ещё и постоянные большие скидки!',
      img: `${pathContentImg}review-1.jpg`,
      width: '80',
      height: '80',
      gender: 'male'
    },
    {
      name: 'Елизавета Марьина',
      count: '76',
      review: 'Удобная навигация, большой выбор, книги в подарок при определенной сумме заказа. Заказ собирают без ошибок, привозят без задержек',
      img: `${pathContentImg}review-2.jpg`,
      width: '80',
      height: '80',
      gender: 'female'
    },
    {
      name: 'Полина Аленичева',
      count: '35',
      review: 'Удобный каталог, полезные отзывы на книги, так же есть видеообзоры на книги. Иногда можно приобрести дорогое издание за «символическую» цену',
      img: `${pathContentImg}review-3.jpg`,
      width: '80',
      height: '80',
      gender: 'female'
    }
  ];
